<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('home.static', filename='compumax.jpeg') }}" type="image/jpeg">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('home.static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-ligth bg-ligth">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('home.static', filename='compumax_banner.jpeg') }}" height="50" class="d-inline-block align-center" alt="">
            </a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if 'username' in session %}
                        <li class="nav-item">
                            <p class="nav-link user">Bienvenido, {{ session['username'] }}!</p>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('security.logout') }}" class="nav-link">Cerrar sesión 🔒</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ url_for('security.login') }}" class="nav-link">Iniciar sesión 🔓</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="list-items my-class navbar-ligth bg-dark">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link active" href="{{ url_for('home.home') }}">🏠 Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('chatbot.chatbot_get') }}">✉️ Chatbot</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('notify.notify_frontend') }}">🔔 Notify</a></li>
            {% if 'username' in session %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api.api_get') }}">🌐 API</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('configs.home_config_get') }}">⚙️ Configuración Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('configs.read_context') }}">⚙️ Contextos</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('configs.read_images_route') }}">📷 Imagenes</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('security.view_users') }}">👥 Usuarios</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>