<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('home.static', filename='compumax.jpeg') }}" type="image/jpeg">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('home.static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('home.static', filename='compumax_banner.jpeg') }}" height="50" class="d-inline-block align-center" alt="">
        </a>

        {% if 'username' in session %}
            <p class="user">Bienvenido, {{ session['username'] }}!</p>
            <a href="{{ url_for('security.logout') }}" id="url_cerrar" class="url_sesion">Cerrar sesión 🔒</a>
        {% else %}
            <a href="{{ url_for('security.login') }}" id="url_abrir" class="url_sesion">Iniciar sesión 🔓</a>
        {% endif %}
    </nav>

    <div class="list_items">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" href="{{ url_for('home.home') }}">🏠 Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('chatbot.chatbot_get') }}">✉️ Chatbot</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('notify.notify_frontend') }}">🔔 Notify</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('configs.read_context') }}">⚙️ Contextos</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('configs.read_images_route') }}">📷 Imagenes</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('api.api_get') }}">🌐 API</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('security.view_users') }}">👥 Usuarios</a></li>
        </ul>
    </div>

  <div class="content">

  </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-8">
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>


</body>
</html>