{% extends 'base.html' %}

{% block title %} Context {% endblock %}
{% block subtitle %} Context {% endblock %}

{% block content %}
   <h1>Editar Archivos de Contexto</h1>

   <form id="editForm">
        <label for="filename">Seleccionar archivo:</label>
        <select id="filename" name="filename">
            {% for file in files %}
                <option value="{{ file }}">{{ file }}</option>
            {% endfor %}
        </select>
        <button id="openBtn" type="button">Abrir</button><br><br>
        <textarea id="content" name="content" rows="10" cols="50"></textarea><br><br>
        <button type="submit">Guardar cambios</button>
    </form>

    <script>
        // Cuando se hace clic en el botón "Abrir"
        document.getElementById('openBtn').addEventListener('click', function(event) {
            const selectedFile = document.getElementById('filename').value;
            fetch(`/context/${selectedFile}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('content').value = data.content;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        document.getElementById('editForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const filename = document.getElementById('filename').value;
            const content = document.getElementById('content').value;
            
            fetch(`/context/${filename}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ content: content })
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
        
        // Obtener el contenido del archivo seleccionado al cargar la página
        window.addEventListener('DOMContentLoaded', function() {
            const filename = document.getElementById('filename').value;
            fetch(`/context/${filename}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('content').value = data.content;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
{% endblock %}