/* Estilos generales */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

/* Estilos para el botón de apertura del chat */
#chat-open-btn {
    position: fixed;
    bottom: 16px;
    left: 16px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#chat-open-btn:hover {
    background-color: #0056b3;
}

/* Estilos para el cuadro de diálogo emergente */
#chat-popup {
    display: none;
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Estilos para el contenido del cuadro de diálogo emergente */
#chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

#chat-form {
    padding: 10px;
    border-top: 1px solid #ddd;
    display: flex;
    background-color: #f9f9f9;
}

#message-input {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
}

.btn:hover {
    background-color: #0056b3;
}

/* Estilos para los mensajes */
.message-user,
.message-bot {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.img_profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-user p,
.message-bot p {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.message-time {
    margin-left: auto;
    color: #777;
}
 