<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
</head>
<body>

    <div class="box" id="box">
        <p id="status">No ha cambiado</p>
    </div>

    <div class="boton-1">
        <button id="boton">Ya Salgo</button>
    </div>

    <audio id="audio" src="{{ url_for('static', filename='karol_g_qlona.mp3') }}">Ringthone</audio>

    <style>
        .box, .boton-1, button{
            text-align: center;
            margin: 0 auto;
            width: 50%;
            padding: 1em;
            border-radius: 2em;
            font-size: large;
            border-style: dashed;
        }
        .boton-1{
            color: black;
        }
        .box{
            color: white;
        }
    </style>

    <script>
    // URL de la API que deseas observar
    const apiUrl = 'http://{{ host }}:{{ port }}/chatbot';

    // Obtenemos el parrafo que va a servir como identificador
    let mensaje = document.getElementById("status");
    let caja = document.getElementById("box");
    let audio = document.getElementById("audio");
    const boton = document.getElementById("boton");

    // Mensajes a mostrar 
    let mensaje_clientes = "Cliente Afuera!!!";
    let mensaje_no_clientes = "No hay clientes";

    // Variable para controlar el estado del audio
    let audioActivo = false;

    // Función para activar/desactivar el audio
    function toggleAudio(activar) {
        if (activar) {
            audio.play();
            audio.loop = true;
        } else {
            audio.pause();
            audio.loop = false;
        }
    }

    // Reproducimos el sonido hasta que presione el boton
    boton.addEventListener("click", function (event) {
        event.preventDefault();
        if (audioActivo) {
            toggleAudio(false);
            audioActivo = false;
        }
        window.location.href = "http://{{ host }}:{{ port }}/chatbot/0";
    });

    // Función para realizar la solicitud a la API y verificar cambios
    async function checkForChanges() {
        try {
            const response = await fetch(apiUrl);
            if (response.status === 200) {
                // Obtenemos el json de la API
                const data = await response.json();
                if (data.status != false) {
                    mensaje.innerHTML = mensaje_clientes;
                    caja.style.backgroundColor = "#94351b";
                    if (!audioActivo) {
                        toggleAudio(true);
                        audioActivo = true;
                    }
                } else {
                    mensaje.innerHTML = mensaje_no_clientes;
                    caja.style.backgroundColor = "#80dbff";
                    if (audioActivo) {
                        toggleAudio(false);
                        audioActivo = false;
                    }
                }
            } else {
                alert("Error al obtener datos de la API");
            }
        } catch (error) {
            alert('Error en la solicitud a la API', error);
        }
    }

    // Realizar la verificación cada cierto tiempo (por ejemplo, cada 1 segundo)
    setInterval(checkForChanges, 1000);
    </script>
    
</body>
</html>