{% extends 'base.html' %}

{% block title %} Chat {% endblock %}
{% block subtitle %} Chat {% endblock %}

{% block content %}

<style>
    /* Estilos adicionales para los mensajes */
    .message-user {
        color: #007bff;
        text-align: right;
        margin-bottom: 10px;

        background-color: #cbe9ff;
        border-radius: 10px;
        border-style: solid;
        border: 3px;
        padding: 1em;
        margin-left: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .message-bot {
        color: #28a745;
        text-align: left;
        margin-bottom: 10px;
        
        background-color: #b3e6c8;
        border-radius: 10px;
        border-style: solid;
        border: 3px;
        padding: 1em;
        margin-right: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .img_profile {
        height: 30px;
        border-radius: 10px;
        margin-right: 10px;
    }

    .message-time {
        margin-left: auto;
        font-size: 0.8em;
        color: #aaa;
    }
</style>

<div class="centered-content">
    <div id="chat-container">
        <div id="chat-messages" class="mb-4">
            <!-- Aquí se mostrarán los mensajes de la conversación -->
        </div>
        <form id="chat-form" class="custom-form fixed-bottom mb-4">
            <div class="input-group mb-3">
                <input type="text" id="message-input" class="form-control" placeholder="Escribe un mensaje...">
                <button type="submit" class="btn btn-outline-primary">✈️</button>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        function getProfileImage(isUser, imageData) {
            if (isUser) {
                return `<img src="${imageData}" alt="user_profile" class="img_profile">`;
            } else {
                return `<img src="${imageData}" alt="chatbot_profile" class="img_profile">`;
            }
        }

        function showApiResponse(responseData) {
            const response = responseData.response;
            const role = responseData.role;
            const photoRole = responseData.photo_role; // Imagen base64 del rol
            const timeAnswer = responseData.time_answer; // Hora de la respuesta

            const messageDiv = `<div class="message-bot">${getProfileImage(false, photoRole)}<p>${response}</p><span class="message-time">${timeAnswer}</span></div>`;
            $("#chat-messages").prepend(messageDiv);

            $("#chat-container").scrollTop(0);
        }

        function showMessage(message, isUser, photoUser) {
            const sender = isUser ? 'Tú' : 'Chatbot';
            const cssClass = isUser ? 'message-user' : 'message-bot';
            const profileImg = getProfileImage(isUser, photoUser);
            const currentTime = new Date().toLocaleTimeString(); // Obtener la hora actual
            const messageDiv = `<div class="${cssClass}">${profileImg}<p>${message}</p><span class="message-time">${currentTime}</span></div>`;
            $("#chat-messages").prepend(messageDiv);

            $("#chat-container").scrollTop(0);
        }

        $("#chat-form").submit(function(event) {
            event.preventDefault();
            const userMessage = $("#message-input").val();
            showMessage(userMessage, true);

            $.ajax({
                type: "POST",
                url: "/api/",
                data: JSON.stringify({ 
                    "ask": userMessage, 
                    "user": "Bot",
                    "device": "computer"
                }),
                contentType: "application/json",
                dataType: "json",
                success: function(data) {
                    showApiResponse(data);
                    console.log(data);
                }
            });

            $("#message-input").val("");
        });

        $("#message-input").focus();

        $(".command").on("click", function(event) {
            const selectedCommand = $(this).text();
            $("#message-input").val(selectedCommand);
        });
    });
</script>

{% endblock %}
