{% extends 'base.html' %}

{% block title %} Chat {% endblock %}
{% block subtitle %} Chat {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('chatbot.static', filename='style.css') }}">

<div id="chat-container" class="container_chat">
    <div id="chat-messages" class="chat-box">
        <!-- Aquí se mostrarán los mensajes de la conversación -->
        <form id="chat-form" class="chat-input">
            <input type="text" id="message-input" class="form-control" placeholder="Escribe un mensaje...">
            <button type="submit" class="btn btn-outline-primary">Enviar</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function() {

    function scrollToBottom() {
        $('#chat-messages').animate({ scrollTop: $('#chat-messages').prop('scrollHeight') }, 300);
    }

    function showMessage(message, isUser, image, time) {
        const sender = isUser ? 'Tú' : 'Chatbot';
        const cssClass = isUser ? 'message-user' : 'message-bot';
        const messageDiv = `
            <div class="${cssClass}">
                <img src="data:image/png;base64,${image}" class="img_profile" />
                <p>${message}</p>
                <span class="message-time">${time}</span>
            </div>`;
        $("#chat-messages").append(messageDiv);
        scrollToBottom();
    }
    var apiUrl = window.location.origin;
    apiUrl = apiUrl+'/api/';
    console.log(apiUrl);

    // Intercepta el envío del formulario
    $("#chat-form").submit(function(event) {
        event.preventDefault();
        const userMessage = $("#message-input").val();
        const currentTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }); 

        fetch(apiUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "ask": userMessage,
                "user": "Bot",
                "device": "computer",
                "token": "{{ token }}"
            })
        })
        .then(response => response.json())
        .then(data => {
            // Manejar la respuesta de la API
            showMessage(userMessage, true, data.photo_user, currentTime); // Mostrar la foto del usuario después de su mensaje
            showMessage(data.response, false, data.photo_role, currentTime); // Mostrar la respuesta del chatbot después del mensaje del usuario
        })
        .catch(error => {
            console.error('Error:', error);
        });

        $("#message-input").val("");
    });

    scrollToBottom();
    $("#message-input").focus();
});
</script>

{% endblock %}
