{% extends 'base.html' %}

{% block title %} Editar Imágenes {% endblock %}
{% block subtitle %} Editar Imágenes {% endblock %}

{% block content %}
   <h1>Editar Archivos de Imágenes</h1>

   <form id="editForm">
        <label for="filename">Seleccionar imagen:</label>
        <select id="filename" name="filename">
            {% for file in files %}
                <option value="{{ file }}">{{ file }}</option>
            {% endfor %}
        </select>
        <button id="openBtn" type="button">Abrir</button><br><br>
        
        <!-- Vista previa del archivo seleccionado actualmente -->
        <img id="currentImagePreview" src="" alt="Current Preview" width="400"><br><br>
        
        <!-- Input para cargar un nuevo archivo -->
        <input type="file" id="newImage" accept="image/*" required><br><br>
        
        <!-- Vista previa del nuevo archivo -->
        <img id="newImagePreview" src="" alt="New Preview" width="400"><br><br>
        
        <button type="submit">Guardar cambios</button>
    </form>

    <script src="{{ url_for('configs.static', filename='scripts_images.js') }}"></script>
{% endblock %}