<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('configs.static', filename='style_chat_pop.css') }}">
</head>
<body>
    <!-- Botón de apertura del chat -->
    <div id="chat-open-btn">Abrir Chat</div>

    <!-- Cuadro de diálogo emergente -->
    <div id="chat-popup">
        <div id="chat-container" class="container_chat">
            <div id="chat-messages" class="chat-box">
                <!-- Aquí se mostrarán los mensajes de la conversación -->
            </div>
            <form id="chat-form" class="chat-input">
                <input type="text" id="message-input" class="form-control" placeholder="Escribe un mensaje...">
                <button type="submit" class="btn btn-outline-primary">Enviar</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('configs.static', filename='scripts_chat_pop.js') }}"></script>

</body>
</html>