{% extends 'base.html' %}

{% block title %} Context {% endblock %}
{% block subtitle %} Context {% endblock %}

{% block content %}
   <h1>Editar Archivos de Contexto</h1>
   <h3>Tener en cuenta de no usar "" o '' intente usar otros simbolos</h3>

   <form id="editForm">
        <label for="filename">Seleccionar archivo:</label>
        <select id="filename" name="filename">
            {% for file in files %}
                <option value="{{ file }}">{{ file }}</option>
            {% endfor %}
        </select>
        <button id="openBtn" type="button">Abrir</button><br><br>
        <textarea id="content" name="content" rows="10" cols="50"></textarea><br><br>
        <button type="submit">Guardar cambios</button>
    </form>

    <script src="{{ url_for('configs.static', filename='scripts_context.js') }}"></script>
{% endblock %}