/* Estilos generales */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

/* Estilos para el botón de apertura del chat */
#chat-open-btn {
    position: fixed;
    bottom: 16px;
    right: 16px; /* Cambiado de left a right */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#chat-open-btn:hover {
    background-color: #0056b3;
}

/* Estilos para el cuadro de diálogo emergente */
#chat-popup {
    display: none;
    position: fixed;
    bottom: 80px; /* Ajusta la posición según tus necesidades */
    right: 16px;
    width: 400px;
    height: 500px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Estilos para el contenido del cuadro de diálogo emergente */
#chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

#chat-form {
    padding: 10px;
    border-top: 1px solid #ddd;
    display: flex;
    background-color: #e8eef0 ;
}

#message-input {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
}

.btn:hover {
    background-color: #0056b3;
}

/* Estilos para los mensajes */
.message-user,
.message-bot {
    display: flex;
    align-items: flex-start; /* Alinear al inicio */
    margin-bottom: 10px;
}

.message-user {
    justify-content: flex-end; /* Justificar al final para ubicar a la derecha */
}

.message-bot {
    justify-content: flex-start; /* Justificar al inicio para ubicar a la izquierda */
}

.img_profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-bot p,
.message-user p {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    margin: 0; /* Eliminar el margen predeterminado para que se ajuste mejor al contenedor */
}

.message-time {
    color: #777;
    font-size: 10px;
}

/* Ajustar la posición de la hora dentro del mensaje */
.message-time {
    margin-left: 10px; /* Ajusta según sea necesario */
}

/* Ajustar estilos de los mensajes para que se parezcan a WhatsApp */
.message-user p {
    background-color: #c5dcfa;
}

.message-bot p {
    background-color: #c2c3c4;
}

#title {
    background-color: #e8eef0 ;
    padding: 1em;
}