{% extends 'base.html' %}

{% block title %} Notify {% endblock %}
{% block subtitle %} Notify {% endblock %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('notify.static', filename='style.css') }}">

    <div class="box" id="box">
        <p id="status">No ha cambiado</p>
    </div>

    <div class="boton-1">
        <button id="boton">Ya Salgo</button>
    </div>

    <audio id="audio" src="{{ url_for('notify.static', filename='sonido.mp3') }}">Ringthone</audio>

    <script src="{{ url_for('notify.static', filename='scripts.js') }}"></script>

{% endblock %}