{% extends 'base.html' %}

{% block title %} Editar Imágenes {% endblock %}
{% block subtitle %} Editar Imágenes {% endblock %}

{% block content %}
   <h1>Editar Archivos de Imágenes</h1>

   <form id="editForm">
        <label for="filename">Seleccionar imagen:</label>
        <select id="filename" name="filename">
            {% for file in files %}
                <option value="{{ file }}">{{ file }}</option>
            {% endfor %}
        </select>
        <button id="openBtn" type="button">Abrir</button><br><br>
        <img id="imagePreview" src="" alt="Preview" width="400"><br><br>
        <input type="file" id="newImage" accept="image/*" required><br><br>
        <button type="submit">Guardar cambios</button>
    </form>

    <script>
        document.getElementById('openBtn').addEventListener('click', function(event) {
            const selectedImage = document.getElementById('filename').value;
            document.getElementById('imagePreview').src = `/uploads/${selectedImage}`;
        });
    
        document.getElementById('editForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const filename = document.getElementById('filename').value;
            const newImage = document.getElementById('newImage').files[0];
    
            const formData = new FormData();
            formData.append('new_image', newImage);
    
            fetch(`/images/${filename}`, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                // Actualizar la vista previa de la imagen después de cargar la nueva imagen
                document.getElementById('imagePreview').src = `/uploads/${filename}?${new Date().getTime()}`;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    
        // Actualizar la vista previa de la imagen al seleccionar una nueva imagen
        document.getElementById('newImage').addEventListener('change', function(event) {
            const newImage = event.target.files[0];
            const reader = new FileReader();
            reader.onload = function() {
                document.getElementById('imagePreview').src = reader.result;
            };
            reader.readAsDataURL(newImage);
        });
    
        // Obtener la vista previa de la imagen al cargar la página
        window.addEventListener('DOMContentLoaded', function() {
            const selectedImage = document.getElementById('filename').value;
            document.getElementById('imagePreview').src = `/uploads/${selectedImage}`;
        });
    </script>
{% endblock %}