/* Estilos para los elementos con las clases .box y .boton-1, y para los botones */
.box,
.boton-1,
button {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding: 1em;
  border-radius: 2em;
  font-size: large;
  border-color: black;
  margin-bottom: 1em;
}

#status{
    color: black;
}
/* Estilos específicos para .boton-1 */
.boton-1 {
  color: black;
}

/* Estilos específicos para .box */
.box {
  color: white;
}