/* Estilos generales para el chat */
.chat-box {
    overflow-y: scroll;
    height: 75vh; /* Altura del área de mensajes, ajusta según tu preferencia */
    padding: 10px;
    background-color: #ebebeb;
    margin-bottom: 100px;
    bottom: 0; /* Alineación en la parte inferior */
    left: 0; /* Alinear a la izquierda */
    right: 0; /* Alinear a la derecha */
    z-index: 999; /* Asegurar que esté encima de otros elementos */
}

.chat-input {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
}

/* Estilos adicionales para los mensajes */
.message-user,
.message-bot {
    color: black;
    text-align: left; /* Alinear el texto a la izquierda */
    margin-bottom: 10px;
    background-color: #cfd1d0;
    border-radius: 10px;
    border: 3px solid transparent; /* Añadir bordes sólidos */
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Estilos para mensaje de usuario */
.message-user {
    text-align: right; /* Alinear el texto a la derecha */
    margin-left: 20%;
    border-color: #5b9dab; /* Color del borde para el mensaje del usuario */
}

/* Estilos para mensaje de bot */
.message-bot {
    margin-right: 20%;
    border-color: #9e1919; /* Color del borde para el mensaje del usuario */
}

.img_profile {
    height: 30px;
    border-radius: 10px;
    margin-right: 10px;
}

.message-time {
    margin-left: auto;
    font-size: 0.8em;
    color: #525252;
}

@media only screen and (max-width: 767px) {
    .chat-box {
        height: 100vh; /* Chat ocupa toda la pantalla en dispositivos móviles */
    }

    .container_chat {
        margin-left: 0;
        margin-right: 0;
        width: 100%; /* El contenedor del chat ocupa todo el ancho en dispositivos móviles */
        font-size: smaller;
    }

    .items_table {
        font-size: xx-small;
    }

    .message-bot {
        margin-bottom: 3em;
    }
}