/* Estilos generales para el chat */
.chat-box {
    overflow-y: scroll;
    height: 75vh; /* Altura del área de mensajes, ajusta según tu preferencia */
    padding: 10px;
    background-image: url('./fondo_chat.jpg'); /* Ruta de la imagen */
    background-size: cover;
    background-repeat: no-repeat;
}

.chat-input {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
}

/* Estilos adicionales para los mensajes */
.message-user {
    color: white;
    text-align: right;
    margin-bottom: 10px;

    background-color:  #2d701e;
    border-radius: 10px;
    border-style: solid;
    border: 3px;
    padding: 1em;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message-bot {
    color: white;
    text-align: left;
    margin-bottom: 10px;
        
    background-color: #455a64;
    border-radius: 10px;
    border-style: solid;
    border: 3px;
    padding: 1em;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img_profile {
    height: 30px;
    border-radius: 10px;
    margin-right: 10px;
}

.message-time {
    margin-left: auto;
    font-size: 0.8em;
    color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .chat-box {
        height: 100vh; /* Chat ocupa toda la pantalla en dispositivos móviles */
    }

    .container_chat {
        margin-left: 0;
        margin-right: 0;
        width: 100%; /* El contenedor del chat ocupa todo el ancho en dispositivos móviles */
        font-size: smaller;
    }

    .items_table{
        font-size: xx-small;
    }

    .message-bot{
        margin-bottom: 3em;
    }
}