{% extends 'base_login.html' %}

{% block title %}📝 SignUp {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('security.static', filename='signup_style.css') }}">
    <div class="signup-form">
        <h1>📝 Registro de usuario</h1>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form action="{{ url_for('security.signup') }}" method="post">
            <label for="username">Nombre de usuario:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="Registrarse">
        </form>
        <p>¿Ya tienes una cuenta? <a href="{{ url_for('security.login') }}">Inicia sesión</a></p>
    </div>

{% endblock %}
