<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
</head>
<body>

    <div class="box" id="box">
        <p id="status">No ha cambiado</p>
    </div>
    <div class="boton-1">
        <form action="http://{{ host }}:{{ port }}/chatbot/0" method="GET">
            <button>Ya Salgo</button>
        </form>
    </div>

    <style>
        .box, .boton-1, button{
            text-align: center;
            margin: 0 auto;
            width: 50%;
            padding: 1em;
            border-radius: 2em;
            font-size: large;
            border-style: dashed;
        }
        .boton-1{
            color: black;
        }
        .box{
            color: white;
        }
    </style>

    <script>
    // URL de la API que deseas observar
    const apiUrl = 'http://{{ host }}:{{ port }}/chatbot';

    // Obtenemos el parrafo que va a servir como identificador
    let mensaje = document.getElementById("status");
    let caja = document.getElementById("box");

    // Función para realizar la solicitud a la API y verificar cambios
    async function checkForChanges() {
        try {
            const response = await fetch(apiUrl);
            if (response.status === 200) {
                // Obtenemos el json de la API
                const data = await response.json();
                if (data.status != false) {
                    mensaje.innerHTML = "Cliente Afuera!!!";
                    caja.style.backgroundColor = "#94351b"
                } else {
                    mensaje.innerHTML = "No hay clientes";
                    caja.style.backgroundColor = "#80dbff"
                }

            }else{alert("Error en la obtener datos de la API");}
        } catch (error) {
            alert('Error en la solicitud a la API', error);
        }
    }
    // Realizar la verificación cada cierto tiempo (por ejemplo, cada 5 segundos)
    setInterval(checkForChanges, 5000); 
    </script>
    
</body>
</html>